<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>2DDDCA11-56DD-4850-A48A-7E7BF554CEE3</string>
		<key>character</key>
		<string>B</string>
		<key>name</key>
		<string>百度</string>
		<key>url</key>
		<string>https://m.baidu.com</string>
		<key>logo</key>
		<string>mk_baidu_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>F3A4728F-6C3A-464A-B0B3-99CFAC124A80</string>
		<key>character</key>
		<string>W</string>
		<key>name</key>
		<string>微博</string>
		<key>url</key>
		<string>https://m.weibo.cn</string>
		<key>logo</key>
		<string>mk_weibo_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>A60B475E-4F43-4B07-BBD6-E8FA6E24D6CA</string>
		<key>character</key>
		<string>Q</string>
		<key>name</key>
		<string>去哪儿旅行</string>
		<key>url</key>
		<string>http://touch.qunar.com/</string>
		<key>logo</key>
		<string>mk_qunar_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>7C2DB162-3608-4F0E-8F97-7D951DBCDAE1</string>
		<key>character</key>
		<string>T</string>
		<key>name</key>
		<string>淘宝</string>
		<key>url</key>
		<string>https://m.taobao.com#index</string>
		<key>logo</key>
		<string>mk_taobao_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>A348459C-E0B4-4A64-ADD0-F1DCDACB7B4B</string>
		<key>character</key>
		<string>J</string>
		<key>name</key>
		<string>京东</string>
		<key>url</key>
		<string>https://m.jd.com</string>
		<key>logo</key>
		<string>mk_jingdong_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>C8EB5BBA-06B9-4C78-9131-1E06570A3394</string>
		<key>character</key>
		<string>A</string>
		<key>name</key>
		<string>爱奇艺</string>
		<key>url</key>
		<string>http://m.iqiyi.com/dianshiju/?vfm=m_177_bdsx</string>
		<key>logo</key>
		<string>mk_iqiyi_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>BBC43AC3-608B-4FC6-9420-1505A738A6B0</string>
		<key>character</key>
		<string>Y</string>
		<key>name</key>
		<string>优酷</string>
		<key>url</key>
		<string>http://www.youku.com</string>
		<key>logo</key>
		<string>mk_youku_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>E0BFBA99-7096-4485-BDF9-0EC890E366ED</string>
		<key>character</key>
		<string>H</string>
		<key>name</key>
		<string>虎牙</string>
		<key>url</key>
		<string>http://m.huya.com</string>
		<key>logo</key>
		<string>mk_huya_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0C6625BF-542C-49E7-A9F0-F43165CE5248</string>
		<key>character</key>
		<string>Q</string>
		<key>name</key>
		<string>汽车之家</string>
		<key>url</key>
		<string>http://m.autohome.com.cn</string>
		<key>logo</key>
		<string>mk_autohome_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>C2AAB577-8CB0-49E9-8D17-49E7B218A521</string>
		<key>character</key>
		<string>Z</string>
		<key>name</key>
		<string>知乎</string>
		<key>url</key>
		<string>https://www.zhihu.com</string>
		<key>logo</key>
		<string>mk_zhihu_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>DDAA0748-51CF-45E8-BDB6-985FE3629EEC</string>
		<key>character</key>
		<string>F</string>
		<key>name</key>
		<string>飞猪</string>
		<key>url</key>
		<string>http://h5.m.taobao.com/trip/home/index.html</string>
		<key>logo</key>
		<string>mk_alilvxing_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3D2BC39C-E3F8-4AE8-BAE7-9CFD6021D02D</string>
		<key>character</key>
		<string>#</string>
		<key>name</key>
		<string>58同城</string>
		<key>url</key>
		<string>http://sh.58.com/</string>
		<key>logo</key>
		<string>mk_58tongcheng_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5CD1E138-1A26-4C29-B72E-77960EC43440</string>
		<key>character</key>
		<string>T</string>
		<key>name</key>
		<string>腾讯网</string>
		<key>url</key>
		<string>http://info.3g.qq.com</string>
		<key>logo</key>
		<string>mk_tencent_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>96A903D1-7A3D-48E4-B322-B94F54896093</string>
		<key>character</key>
		<string>W</string>
		<key>name</key>
		<string>网易</string>
		<key>url</key>
		<string>http://3g.163.com/touch/all?nav=2&amp;version=v_standard</string>
		<key>logo</key>
		<string>mk_wangyi_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3146A427-C87D-407F-BBD9-BEDD230D42CB</string>
		<key>character</key>
		<string>X</string>
		<key>name</key>
		<string>携程</string>
		<key>url</key>
		<string>https://m.ctrip.com/html5</string>
		<key>logo</key>
		<string>mk_xiecheng_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>BC58343D-CC58-48B9-8124-D7FAB7CF9CDE</string>
		<key>character</key>
		<string>X</string>
		<key>name</key>
		<string>小米</string>
		<key>url</key>
		<string>http://m.mi.com/1/?channel=new</string>
		<key>logo</key>
		<string>mk_xiaomi_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3D157E5B-0C9A-4CA3-A7A3-3B12F22CFD51</string>
		<key>character</key>
		<string>Z</string>
		<key>name</key>
		<string>智联招聘</string>
		<key>url</key>
		<string>http://wap.zhaopin.com</string>
		<key>logo</key>
		<string>mk_zhilian_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3057BB81-0773-4B8E-9DB9-7168C7555FD3</string>
		<key>character</key>
		<string>P</string>
		<key>name</key>
		<string>苹果</string>
		<key>url</key>
		<string>https://www.apple.com/cn/</string>
		<key>logo</key>
		<string>mk_apple_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>F437BF20-39B5-4A21-967A-CDEEDEFB3D22</string>
		<key>character</key>
		<string>Q</string>
		<key>name</key>
		<string>起点</string>
		<key>url</key>
		<string>http://m.qidian.com</string>
		<key>logo</key>
		<string>mk_qidian_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>D01F4559-FD6D-46ED-8930-CA8001602683</string>
		<key>character</key>
		<string>W</string>
		<key>name</key>
		<string>微票儿</string>
		<key>url</key>
		<string>http://www.wepiao.com</string>
		<key>logo</key>
		<string>mk_weipiaoer_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>44754D1B-2C39-4BF8-B4DD-526420DB9341</string>
		<key>character</key>
		<string>A</string>
		<key>name</key>
		<string>安居客</string>
		<key>url</key>
		<string>http://m.anjuke.com</string>
		<key>logo</key>
		<string>mk_anjuke_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>809128D6-DC48-4056-8946-3F3A59C51037</string>
		<key>character</key>
		<string>D</string>
		<key>name</key>
		<string>大众点评</string>
		<key>url</key>
		<string>http://m.dianping.com</string>
		<key>logo</key>
		<string>mk_dazongdianping_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>E2EA3BC9-7B3E-44AD-B26E-397468979973</string>
		<key>character</key>
		<string>K</string>
		<key>name</key>
		<string>快递100</string>
		<key>url</key>
		<string>http://m.kuaidi100.com</string>
		<key>logo</key>
		<string>mk_kuaidi100_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>D72877FB-D3A0-4BBC-93B2-183D4303B882</string>
		<key>character</key>
		<string>D</string>
		<key>name</key>
		<string>大麦网</string>
		<key>url</key>
		<string>http://m.damai.cn</string>
		<key>logo</key>
		<string>mk_damai_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>C9199952-5626-433E-A172-EC382CC47760</string>
		<key>character</key>
		<string>A</string>
		<key>name</key>
		<string>Aribnb</string>
		<key>url</key>
		<string>http://zh.airbnb.com</string>
		<key>logo</key>
		<string>mk_airbnb_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1BB0D5A4-1DED-457E-9443-06DA66524358</string>
		<key>character</key>
		<string>W</string>
		<key>name</key>
		<string>唯品会</string>
		<key>url</key>
		<string>http://m.vip.com</string>
		<key>logo</key>
		<string>mk_weipinhui_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4854032F-4F9C-4F51-9E9C-35309B92D13F</string>
		<key>character</key>
		<string>C</string>
		<key>name</key>
		<string>锤子</string>
		<key>url</key>
		<string>http://www.smartisan.com</string>
		<key>logo</key>
		<string>mk_chuizi_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>DABA0FEF-5DD2-460E-AAB5-D955FA686CC6</string>
		<key>character</key>
		<string>S</string>
		<key>name</key>
		<string>什么值得买</string>
		<key>url</key>
		<string>http://m.smzdm.com</string>
		<key>logo</key>
		<string>mk_smzdm_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>FECF9837-3450-407D-A114-2A5CBB8F9E54</string>
		<key>character</key>
		<string>Q</string>
		<key>name</key>
		<string>穷游</string>
		<key>url</key>
		<string>http://m.qyer.com</string>
		<key>logo</key>
		<string>mk_qiongyou_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>536AE808-5B07-40A1-AF71-358E75A37D31</string>
		<key>character</key>
		<string>D</string>
		<key>name</key>
		<string>豆瓣</string>
		<key>url</key>
		<string>http://m.douban.com</string>
		<key>logo</key>
		<string>mk_douban_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>DD217C51-1A8B-4272-8147-602CA7028433</string>
		<key>character</key>
		<string>T</string>
		<key>name</key>
		<string>途家</string>
		<key>url</key>
		<string>http://m.tujia.com</string>
		<key>logo</key>
		<string>mk_tujia_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>44596FFE-EA31-47E3-AD58-4197739291C0</string>
		<key>character</key>
		<string>T</string>
		<key>name</key>
		<string>途牛</string>
		<key>url</key>
		<string>http://m.tuniu.com</string>
		<key>logo</key>
		<string>mk_tuniu_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>C8682AEB-8AAA-4CFB-8D1C-2411784AD0F9</string>
		<key>character</key>
		<string>F</string>
		<key>name</key>
		<string>房天下</string>
		<key>url</key>
		<string>http://m.fang.com</string>
		<key>logo</key>
		<string>mk_fang_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>E8839E5B-459D-42F2-A50D-A33390FCEC8B</string>
		<key>character</key>
		<string>#</string>
		<key>name</key>
		<string>36氪</string>
		<key>url</key>
		<string>http://36kr.com</string>
		<key>logo</key>
		<string>mk_36Kr_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>F489E50C-09AB-41EA-BD71-B0F788D6B8E2</string>
		<key>character</key>
		<string>M</string>
		<key>name</key>
		<string>蘑菇街</string>
		<key>url</key>
		<string>http://m.mogujie.com</string>
		<key>logo</key>
		<string>mk_mogujie_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>27444120-2CF6-44B1-AC46-744891201BA8</string>
		<key>character</key>
		<string>M</string>
		<key>name</key>
		<string>美丽说</string>
		<key>url</key>
		<string>http://m.meilishuo.com</string>
		<key>logo</key>
		<string>mk_meilishuo_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>FE8F9121-A221-45E2-9E04-E0AE3558FD0C</string>
		<key>character</key>
		<string>T</string>
		<key>name</key>
		<string>天猫</string>
		<key>url</key>
		<string>http://m.tmall.com</string>
		<key>logo</key>
		<string>mk_tmall_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0DD56DE6-2490-4DA6-880E-44B4A63241E3</string>
		<key>character</key>
		<string>S</string>
		<key>name</key>
		<string>搜狐</string>
		<key>url</key>
		<string>http://m.sohu.com</string>
		<key>logo</key>
		<string>mk_sohu_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>98063EEE-FFDB-4BE2-89C1-35100F37D48A</string>
		<key>character</key>
		<string>G</string>
		<key>name</key>
		<string>光明网</string>
		<key>url</key>
		<string>http://3g.gmw.cn</string>
		<key>logo</key>
		<string>mk_guangmingwang_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>364D8AF9-4B23-4AB8-92FA-D12A5723C00F</string>
		<key>character</key>
		<string>T</string>
		<key>name</key>
		<string>天涯社区</string>
		<key>url</key>
		<string>http://www.tianya.cn/m/</string>
		<key>logo</key>
		<string>mk_tianya_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>09CF0E2F-6F71-48BE-B787-DF5892AE030F</string>
		<key>character</key>
		<string>X</string>
		<key>name</key>
		<string>新华网</string>
		<key>url</key>
		<string>http://m.news.cn/html</string>
		<key>logo</key>
		<string>mk_xinhua_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4277356B-1CF3-47E7-ACEC-ED5C3280D5DC</string>
		<key>character</key>
		<string>#</string>
		<key>name</key>
		<string>360</string>
		<key>url</key>
		<string>http://m.360.com</string>
		<key>logo</key>
		<string>mk_360_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>636EF3CD-3232-4B50-8092-CD0263313AD2</string>
		<key>character</key>
		<string>Y</string>
		<key>name</key>
		<string>亚马逊</string>
		<key>url</key>
		<string>http://m.amazon.cn</string>
		<key>logo</key>
		<string>mk_amazon_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>01EF64C4-DCFE-4248-979C-295320298C17</string>
		<key>character</key>
		<string>T</string>
		<key>name</key>
		<string>土豆网</string>
		<key>url</key>
		<string>http://m.tudou.com</string>
		<key>logo</key>
		<string>mk_tudou_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>B1B8E5C2-4B79-4E56-B862-6A1A7BC98CB8</string>
		<key>character</key>
		<string>D</string>
		<key>name</key>
		<string>东方财富网</string>
		<key>url</key>
		<string>http://wap.eastmoney.com</string>
		<key>logo</key>
		<string>mk_dongfangcaifu_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>A8CD9F6A-8965-46C8-9757-EFCB322638F8</string>
		<key>character</key>
		<string>Y</string>
		<key>name</key>
		<string>一号店</string>
		<key>url</key>
		<string>http://m.yhd.com</string>
		<key>logo</key>
		<string>mk_yihaodian_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>82056947-0918-4611-8288-850640658110</string>
		<key>character</key>
		<string>Y</string>
		<key>name</key>
		<string>有道词典</string>
		<key>url</key>
		<string>http://m.youdao.com</string>
		<key>logo</key>
		<string>mk_youdao_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>244DE22F-C455-4B77-B97C-38AC2EE07515</string>
		<key>character</key>
		<string>G</string>
		<key>name</key>
		<string>赶集网</string>
		<key>url</key>
		<string>http://3g.ganji.com</string>
		<key>logo</key>
		<string>mk_ganjiwang_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>9684182E-FE9C-454A-8EE1-E83FC85EF23F</string>
		<key>character</key>
		<string>B</string>
		<key>name</key>
		<string>哔哩哔哩</string>
		<key>url</key>
		<string>http://www.bilibili.com/mobile/index.html</string>
		<key>logo</key>
		<string>mk_bilibili_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>B529F58E-E19A-4F23-9001-04C8517FC512</string>
		<key>character</key>
		<string>J</string>
		<key>name</key>
		<string>简书</string>
		<key>url</key>
		<string>http://www.jianshu.com</string>
		<key>logo</key>
		<string>mk_jianshu_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>7C4F7732-E8A4-49C5-A8CD-6A69A64FA4C6</string>
		<key>character</key>
		<string>H</string>
		<key>name</key>
		<string>虎嗅网</string>
		<key>url</key>
		<string>http://m.huxiu.com</string>
		<key>logo</key>
		<string>mk_huxiu_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4E45E29E-2EFA-4B36-888C-21A92A15AC88</string>
		<key>character</key>
		<string>G</string>
		<key>name</key>
		<string>格瓦拉电影</string>
		<key>url</key>
		<string>http://m.gewara.com/movie/m/index.xhtml</string>
		<key>logo</key>
		<string>mk_gewala_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2CA72851-BEEB-4767-A962-9D709595E62E</string>
		<key>character</key>
		<string>J</string>
		<key>name</key>
		<string>今日头条</string>
		<key>url</key>
		<string>http://m.toutiao.com/?W2atlF=1</string>
		<key>logo</key>
		<string>mk_jinritoutiao_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>7A420C89-48EC-444B-A921-7C563C1C820C</string>
		<key>character</key>
		<string>D</string>
		<key>name</key>
		<string>斗鱼TV</string>
		<key>url</key>
		<string>http://m.douyutv.com</string>
		<key>logo</key>
		<string>mk_douyu_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>C9690E1E-6B00-4A4C-A0A1-4657049AB0CA</string>
		<key>character</key>
		<string>C</string>
		<key>name</key>
		<string>菜鸟裹裹</string>
		<key>url</key>
		<string>http://wap.guoguo-app.com</string>
		<key>logo</key>
		<string>mk_cainiaoguoguo_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5FA0A347-B4E8-4C2D-AAB8-B18F54917410</string>
		<key>character</key>
		<string>T</string>
		<key>name</key>
		<string>腾讯视频</string>
		<key>url</key>
		<string>http://v.qq.com</string>
		<key>logo</key>
		<string>mk_tencent_video_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ABAA93A6-E39A-4338-827D-0CA3FF3FBAF5</string>
		<key>character</key>
		<string>S</string>
		<key>name</key>
		<string>苏宁易购</string>
		<key>url</key>
		<string>http://m.suning.com/?utm_source=baidu&amp;utm_medium=brand-wuxian&amp;utm_campaign=title</string>
		<key>logo</key>
		<string>mk_suning_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>F3111BBD-EE60-49CF-867C-6B1D76965D4E</string>
		<key>character</key>
		<string>M</string>
		<key>name</key>
		<string>麦当劳</string>
		<key>url</key>
		<string>http://www.mcdonalds.com.cn/</string>
		<key>logo</key>
		<string>mk_mcdonalds_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>D8D0635E-1EC8-417A-9281-1CF0C2F206EC</string>
		<key>character</key>
		<string>K</string>
		<key>name</key>
		<string>肯德基</string>
		<key>url</key>
		<string>http://m.kfc.com.cn/</string>
		<key>logo</key>
		<string>mk_KFC_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>347D09DC-A76B-4462-9EAB-95D8A397923F</string>
		<key>character</key>
		<string>J</string>
		<key>name</key>
		<string>聚划算</string>
		<key>url</key>
		<string>https://ju.m.taobao.com/</string>
		<key>logo</key>
		<string>mk_juhuasuan_logo</string>
		<key>status</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>A391B413-4A60-4E87-8068-6B0F3848B14E</string>
		<key>character</key>
		<string>G</string>
		<key>name</key>
		<string>国美在线</string>
		<key>url</key>
		<string>http://m.gome.com.cn/</string>
		<key>logo</key>
		<string>mk_guomei_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>643D2C17-FDEA-44B1-A859-3BB2F90F4388</string>
		<key>character</key>
		<string>H</string>
		<key>name</key>
		<string>虎扑体育</string>
		<key>url</key>
		<string>https://m.hupu.com/nba</string>
		<key>logo</key>
		<string>mk_hupu_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>B3652C16-CDB2-482B-B97D-BF5A87EBC8FB</string>
		<key>character</key>
		<string>Z</string>
		<key>name</key>
		<string>zealer评测</string>
		<key>url</key>
		<string>http://www.zealer.com/</string>
		<key>logo</key>
		<string>mk_zealer_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>B79DD9B6-BBEA-46DF-BD75-9812C4E030F8</string>
		<key>character</key>
		<string>G</string>
		<key>name</key>
		<string>Google</string>
		<key>url</key>
		<string>https://www.google.co.uk/?gws_rd=ssl</string>
		<key>logo</key>
		<string>mk_google_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>CD3C5305-CD2D-4ACB-9CCB-10DD3240EB46</string>
		<key>character</key>
		<string>W</string>
		<key>name</key>
		<string>网易公开课</string>
		<key>url</key>
		<string>http://m.open.163.com/</string>
		<key>logo</key>
		<string>mk_wangyigongkaike_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>33739134-002D-4559-B285-6DE9B9153040</string>
		<key>character</key>
		<string>B</string>
		<key>name</key>
		<string>百度贴吧</string>
		<key>url</key>
		<string>https://tieba.baidu.com/</string>
		<key>logo</key>
		<string>mk_tieba_logo</string>
		<key>status</key>
		<string>0</string>
	</dict>
</array>
</plist>
